<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="КлиенткаПрактика.Properties.Settings.BD50ConnectionString"
            connectionString="Data Source=DESKTOP-VMOHA53\SQL;Initial Catalog=BD50;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="КлиенткаПрактика.Properties.Settings.AuthConnectionString"
            connectionString="Data Source=DESKTOP-VMOHA53\SQLEXPRESS08;Initial Catalog=Auth;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>